.settings
.idea
.classpath
.project
.cache-main
.pydevproject

__pycache__

*.iml
*.log
*.tmp

/target/
/tmp
/bin
/input/*
/output/*
/src/main/python/tf
/objFile
/mydata_saveAsTestFile
/spark-warehouse